In [171]:
#from urllib import request

In [172]:
path = "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"
resp = request.urlopen(path)

In [173]:
type(resp)

http.client.HTTPResponse

In [174]:
resp.code

200

In [175]:
#resp.length

In [176]:
#resp.peek()

In [177]:
#data = resp.read()

In [178]:
#len(data)

In [179]:
#html = data.decode("UTF-8")

In [180]:
#html

In [181]:
! #python -m pip install beautifulsoup4

In [182]:
import requests
from bs4 import BeautifulSoup
page = requests.get(path).text

soup = BeautifulSoup(page, "html.parser")

In [183]:
#print(soup.prettify())

In [184]:
match = soup.find(attrs={"dataTables-content-main"})

In [185]:
data = []
rows = match.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele]) # Get rid of empty values

In [186]:
import pandas as pd
df = pd.DataFrame(data, columns=['bank', 'city', 'state', 'cert', 'AI', 'date', 'fund'])

In [187]:
df.tail()

                                  bank        city  ...               date  fund
558                 Superior Bank, FSB    Hinsdale  ...      July 27, 2001  6004
559                Malta National Bank       Malta  ...        May 3, 2001  4648
560    First Alliance Bank & Trust Co.  Manchester  ...   February 2, 2001  4647
561  National State Bank of Metropolis  Metropolis  ...  December 14, 2000  4646
562                   Bank of Honolulu    Honolulu  ...   October 13, 2000  4645

[5 rows x 7 columns]