  - Name of activity: Netflix data cleaning 
  - Your name: Dima Mikhaylov
  - Your UVA computing ID: agp7dp

TODO:

- How many duplicate records are there? Please delete all duplicate records?
- The percentage of missing data in each column.
- Extract date information from the 'date_added' column, and add 'date_added_year',''date_added_month', and 'date_added_day' columns.
- It is also crucial to have the dataset follow specific standards to fit a model. We need to explore the data in different ways to find out the inconsistent data. Much of the time, it depends on observations and experience. There is no set code to run and fix them all. In the ‘duration’ column, we cover two inconsistent data types -- the unit of some records is “min” and some other records is “Season”. Please separate the two types of records.

In [2]:
#from google.colab import drive
#from google.colab import files
import pandas as pd
import io

In [4]:
# Mount the drive
#drive.mount('/content/drive')

In [5]:
# Upload data file
#uploaded = files.upload()

In [7]:
# Check if netflix file is present in the current directory
#!ls

In [10]:
# Load and inspect the dataset
df = pd.read_csv('netflix_titles.csv', index_col=0)
df.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [11]:
# Check resulting data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7787 entries, s1 to s7787
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          7787 non-null   object
 1   title         7787 non-null   object
 2   director      5398 non-null   object
 3   cast          7069 non-null   object
 4   country       7280 non-null   object
 5   date_added    7777 non-null   object
 6   release_year  7787 non-null   int64
 7   rating        7780 non-null   object
 8   duration      7787 non-null   object
 9   listed_in     7787 non-null   object
 10  description   7787 non-null   object
dtypes: int64(1), object(10)
memory usage: 730.0+ KB

#### Find duplicate records:

In [12]:
 # Select duplicate rows except first occurrence based on all the columns
df.duplicated(keep='first')

show_id
s1       False
s2       False
s3       False
s4       False
s5       False
         ...
s7783    False
s7784    False
s7785    False
s7786    False
s7787    False
Length: 7787, dtype: bool

#### The percentage of missing data in each column

In [13]:
df.isnull().mean() * 100

type             0.000000
title            0.000000
director        30.679337
cast             9.220496
country          6.510851
date_added       0.128419
release_year     0.000000
rating           0.089893
duration         0.000000
listed_in        0.000000
description      0.000000
dtype: float64

#### Extract date information from the 'date_added' column, and add 'date_added_year',''date_added_month', and 'date_added_day' columns.

In [14]:

# First, creat a copy of date_added but store data in pandas DateTime type
df['date'] = pd.to_datetime(df['date_added'])

# Split year, month, and day; force type Int64 to avoide floats
df['date_added_year'] = df['date'].dt.year.astype('Int64')
df['date_added_month'] = df['date'].dt.month.astype('Int64')
df['date_added_day'] = df['date'].dt.month.astype('Int64')

# Check new columns added to the DataFrame
df.head(2)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date,date_added_year,date_added_month,date_added_day
show_id,,,,,,,,,,,,,,,
s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,2020,8,8
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,2016,12,12

In [15]:
# Check resulting data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7787 entries, s1 to s7787
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   type              7787 non-null   object
 1   title             7787 non-null   object
 2   director          5398 non-null   object
 3   cast              7069 non-null   object
 4   country           7280 non-null   object
 5   date_added        7777 non-null   object
 6   release_year      7787 non-null   int64
 7   rating            7780 non-null   object
 8   duration          7787 non-null   object
 9   listed_in         7787 non-null   object
 10  description       7787 non-null   object
 11  date              7777 non-null   datetime64[ns]
 12  date_added_year   7777 non-null   Int64
 13  date_added_month  7777 non-null   Int64
 14  date_added_day    7777 non-null   Int64
dtypes: Int64(3), datetime64[ns](1), int64(1), object(10)
memory usage: 1.3+ MB

#### In the ‘duration’ column, we cover two inconsistent data types -- the unit of some records is “min” and some other records is “Season”. Please separate the two types of records.

In [16]:
df['seasons'] = df['duration'].apply(lambda x: x if x.__contains__('eason') else 'NA')
df['duration'] = df['duration'].apply(lambda x: 'NA' if x.__contains__('eason') else x)
df.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date,date_added_year,date_added_month,date_added_day,seasons
show_id,,,,,,,,,,,,,,,,
s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,NA,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,2020,8,8,4 Seasons
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,2016,12,12,NA
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,2018,12,12,NA
s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,2017,11,11,NA
s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,2020,1,1,NA

In [17]:
# Check resulting data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7787 entries, s1 to s7787
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   type              7787 non-null   object
 1   title             7787 non-null   object
 2   director          5398 non-null   object
 3   cast              7069 non-null   object
 4   country           7280 non-null   object
 5   date_added        7777 non-null   object
 6   release_year      7787 non-null   int64
 7   rating            7780 non-null   object
 8   duration          7787 non-null   object
 9   listed_in         7787 non-null   object
 10  description       7787 non-null   object
 11  date              7777 non-null   datetime64[ns]
 12  date_added_year   7777 non-null   Int64
 13  date_added_month  7777 non-null   Int64
 14  date_added_day    7777 non-null   Int64
 15  seasons           7787 non-null   object
dtypes: Int64(3), datetime64[ns](1), int64(1), object(11)
memory usage: 1.3+ MB