  - Name of activity: Netflix data cleaning 
  - Your name: Dima Mikhaylov
  - Your UVA computing ID: agp7dp

TODO:

- How many duplicate records are there? Please delete all duplicate records?
- The percentage of missing data in each column.
- Extract date information from the 'date_added' column, and add 'date_added_year',''date_added_month', and 'date_added_day' columns.
- It is also crucial to have the dataset follow specific standards to fit a model. We need to explore the data in different ways to find out the inconsistent data. Much of the time, it depends on observations and experience. There is no set code to run and fix them all. In the ‘duration’ column, we cover two inconsistent data types -- the unit of some records is “min” and some other records is “Season”. Please separate the two types of records.

In [45]:
from google.colab import drive
from google.colab import files
import pandas as pd
import io

In [41]:
# Mount the drive
drive.mount('/content/drive')

Mounted at /content/drive

In [42]:
# Upload data file
uploaded = files.upload()

Saving netflix_titles.csv to netflix_titles.csv

In [43]:
# Check if netflix file is present in the current directory
!ls

drive  netflix_titles.csv  sample_data

In [104]:
# Load and inspect the dataset
df = pd.read_csv(io.StringIO(uploaded['netflix_titles.csv'].decode('utf-8')))
df.head()

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...

[5 rows x 12 columns]

In [105]:
# Check resulting data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

#### Find duplicate records:

In [106]:
 # Select duplicate rows except first occurrence based on all the columns
df.duplicated(keep='first')

0       False
1       False
2       False
3       False
4       False
        ...
7782    False
7783    False
7784    False
7785    False
7786    False
Length: 7787, dtype: bool

#### The percentage of missing data in each column

In [107]:
df.isnull().mean() * 100

show_id          0.000000
type             0.000000
title            0.000000
director        30.679337
cast             9.220496
country          6.510851
date_added       0.128419
release_year     0.000000
rating           0.089893
duration         0.000000
listed_in        0.000000
description      0.000000
dtype: float64

#### Extract date information from the 'date_added' column, and add 'date_added_year',''date_added_month', and 'date_added_day' columns.

In [108]:

# First, creat a copy of date_added but store data in pandas DateTime type
df['date'] = pd.to_datetime(df['date_added'])

# Split year, month, and day; force type Int64 to avoide floats
df['date_added_year'] = df['date'].dt.year.astype('Int64')
df['date_added_month'] = df['date'].dt.month.astype('Int64')
df['date_added_day'] = df['date'].dt.month.astype('Int64')

# Check new columns added to the DataFrame
df.head(2)

  show_id     type title  ... date_added_year date_added_month date_added_day
0      s1  TV Show    3%  ...            2020                8              8
1      s2    Movie  7:19  ...            2016               12             12

[2 rows x 16 columns]

In [109]:
# Check resulting data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   show_id           7787 non-null   object
 1   type              7787 non-null   object
 2   title             7787 non-null   object
 3   director          5398 non-null   object
 4   cast              7069 non-null   object
 5   country           7280 non-null   object
 6   date_added        7777 non-null   object
 7   release_year      7787 non-null   int64
 8   rating            7780 non-null   object
 9   duration          7787 non-null   object
 10  listed_in         7787 non-null   object
 11  description       7787 non-null   object
 12  date              7777 non-null   datetime64[ns]
 13  date_added_year   7777 non-null   Int64
 14  date_added_month  7777 non-null   Int64
 15  date_added_day    7777 non-null   Int64
dtypes: Int64(3), datetime64[ns](1), int64(1), object(11)
memory usage: 996.3+ KB

#### In the ‘duration’ column, we cover two inconsistent data types -- the unit of some records is “min” and some other records is “Season”. Please separate the two types of records.

In [111]:
df['seasons'] = df['duration'].apply(lambda x: x if x.__contains__('eason') else 'NA')
df['duration'] = df['duration'].apply(lambda x: 'NA' if x.__contains__('eason') else x)
df.head()

  show_id     type  title  ... date_added_month date_added_day    seasons
0      s1  TV Show     3%  ...                8              8  4 Seasons
1      s2    Movie   7:19  ...               12             12         NA
2      s3    Movie  23:59  ...               12             12         NA
3      s4    Movie      9  ...               11             11         NA
4      s5    Movie     21  ...                1              1         NA

[5 rows x 17 columns]