- Name of activity: Exercise: Aggregates
- Your name: Dima Mikhaylov
- Your UVA computing ID: agp7dp

# Exercise: Aggregates
Directions: Complete all three parts of the assignment.

1. Write a summary about each aggregate function mentioned (np.mean, np.std, np.var, np.argmin, np.argmax, np.median, np.percentile).


* `mean()` returns the arithmetic mean along the specified axis.
    * Optional `out` can be used to specify alternative output array.
    * Optional `keepdims` cab be used for broadcasting against the original array.

* `std()` returns the standard deviation along the specified axis.
    * In addition to similar use of `out` and `keepdims` , it also supports `ddof` that stands fpr degrees of freedom, zero by default.
    
* `var()` return the variance along the specified axis.
    * Similarly to `std()`, this function supports `out`, `keepdims`, and `ddof`.

* `argmin()` returns the index of the first occurrence of the **mimimum** value along the specified axis of an array. 
    * Optional parameter `out` can be used to insert the result into the array.

* `argmax()` returns the index of the first occurrence of the **maximum** value along the specified axis of an array. 
    * Optional parameter `out` can be used to insert the result into the array.

* `median()` returns the **median** of an array along the specified axis. 
    * Optional `out` can be used to specify alternative output array. 
    * Moreover, `overwrite_input` can be specified to allow use of memory of the input array and `keepdims` cab be used for broadcasting against the original array.

* `percentile()` returns the **q-th percentiles** of the array elements along the specified axis. 
    * In addition to similar use of `out`, `overwrite_input` and `keepdims` , it also supports optional `interpolation` for cases when the selected percentile falls between two data points.

2. Come up with a small sample of code (with appropriate setup/data) that illustrates the usage of at least four (4) of the aggregate functions (from Part 1). Include the results/output as well.

In [1]:
import numpy as np
from sklearn.datasets import make_blobs

# Generating random data points
input_array, output_array = make_blobs(n_samples=30, centers=2, n_features=1, random_state=123)

In [2]:
# 1. Numpy mean
np.round(np.mean(input_array), 3)

-0.228

In [3]:
# Check mean
mean = np.round(np.sum(input_array)/len(input_array), 3)
mean

-0.228

In [4]:
# 2. Numpy variance
np.round(np.var(input_array), 3)

18.177

In [5]:
# Check variance
var = np.round(float(sum([(x - mean) ** 2 for x in input_array])/len(input_array)), 3)
var

18.177

In [6]:
# 3. Numpy standard deviation
np.round(np.std(input_array), 3)

4.263

In [7]:
# Check standard deviation
np.round(var ** (1/2), 3)

4.263

In [8]:
# 4. Numpy argmin for the smallers value
input_array[np.argmin(input_array)]

array([-7.07580241])

In [9]:
# Check the smallest value
sorted(input_array)[0]

array([-7.07580241])

3. Find a sample data set (or create a reasonable data set and place in an appropriate structure, e.g., DataFrame or other). Using GroupBy and splitting using more than one key, perform some queries against that data. Explain what question youâ€™re trying to answer and show the results/output. Come up with a total of three (3) different queries.

In [11]:
import pandas as pd
import numpy as np

In [13]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1': np.random.rand(5),
                   'data2': np.random.rand(5)
                  })

In [14]:
df

  key1 key2     data1     data2
0    a  one  0.665031  0.975766
1    a  two  0.831587  0.883100
2    b  one  0.338583  0.359070
3    b  two  0.032001  0.112870
4    a  one  0.574903  0.263431

In [18]:
grouped = df['data1'].groupby(df['key1'])
grouped.mean()

key1
a    0.690507
b    0.185292
Name: data1, dtype: float64

In [31]:
means = df[['data1']].groupby([df['key1'], df['key2']]).mean()
means

              data1
key1 key2
a    one   0.619967
     two   0.831587
b    one   0.338583
     two   0.032001

In [178]:
import pandas as pd
# Source: https://banks.data.fdic.gov/bankfind-suite/oscr
df = pd.read_csv("events_summary_2000-2021.csv", index_col=0)

In [184]:
df

,"N: National Banks, member of the Federal Reserve System (FRS)","SM: State Chartered Banks, member of the Federal Reserve System (FRS)","NM: State Chartered Banks, not member of the Federal Reserve System (FRS)",OI: Insured Branches of Foreign Banks,SI: FDIC Supervised State Savings Banks,SB: Federal Savings Bank,SL: Federal & State Savings and Loans,NC: Non-FDIC Insured Commercial Banks,NS: Non-FDIC Insured Thrifts,CU: Non-FDIC Insured Credit Unions
Event Types,,,,,,,,,,
New Institutions,261,95,1043,0,30,101,8,167,5,16431
Business Combinations,1704,1134,2698,0,277,313,61,42,0,1472
Business Combinations - Failures,128,70,289,0,9,42,9,0,0,26
Interim Mergers & Reorganizations,235,76,349,0,65,33,3,32,0,101
Conversions,834,2299,2189,0,570,1197,216,304,19,708
Title Changes,838,615,2586,1,334,410,161,193,1,5753
Main Office Relocations,1111,659,3749,14,249,581,171,221,1,4288
Liquidations,60,16,104,3,6,59,6,133,8,2534
Trust Powers,121,30,493,0,62,51,17,20,0,0
Branch Purchases & Assumptions by Institution,638,360,1264,1,129,161,39,3,0,72

In [160]:
grouped = df.groupby(df.dtypes, axis=1)
for dtype, group in grouped:
    print(dtype)
    print(group)

int64
   N: National Banks, member of the Federal Reserve System (FRS)  \
0                                                261
1                                               1704
2                                                128
3                                                235
4                                                834
5                                                838
6                                               1111
7                                                 60
8                                                121
9                                                638

   SM: State Chartered Banks, member of the Federal Reserve System (FRS)  \
0                                                 95
1                                               1134
2                                                 70
3                                                 76
4                                               2299
5                                                615
6                                                659
7                                                 16
8                                                 30
9                                                360

   NM: State Chartered Banks, not member of the Federal Reserve System (FRS)  \
0                                               1043
1                                               2698
2                                                289
3                                                349
4                                               2189
5                                               2586
6                                               3749
7                                                104
8                                                493
9                                               1264

   OI: Insured Branches of Foreign Banks  \
0                                      0
1                                      0
2                                      0
3                                      0
4                                      0
5                                      1
6                                     14
7                                      3
8                                      0
9                                      1

   SI: FDIC Supervised State Savings Banks  SB: Federal Savings Bank  \
0                                       30                       101
1                                      277                       313
2                                        9                        42
3                                       65                        33
4                                      570                      1197
5                                      334                       410
6                                      249                       581
7                                        6                        59
8                                       62                        51
9                                      129                       161

   SL: Federal & State Savings and Loans  \
0                                      8
1                                     61
2                                      9
3                                      3
4                                    216
5                                    161
6                                    171
7                                      6
8                                     17
9                                     39

   NC: Non-FDIC Insured Commercial Banks  NS: Non-FDIC Insured Thrifts  \
0                                    167                             5
1                                     42                             0
2                                      0                             0
3                                     32                             0
4                                    304                            19
5                                    193                             1
6                                    221                             1
7                                    133                             8
8                                     20                             0
9                                      3                             0

   CU: Non-FDIC Insured Credit Unions
0                               16431
1                                1472
2                                  26
3                                 101
4                                 708
5                                5753
6                                4288
7                                2534
8                                   0
9                                  72
object
                                     Event Types
0                               New Institutions
1                          Business Combinations
2               Business Combinations - Failures
3              Interim Mergers & Reorganizations
4                                    Conversions
5                                  Title Changes
6                        Main Office Relocations
7                                   Liquidations
8                                   Trust Powers
9  Branch Purchases & Assumptions by Institution

for name, group in df.groupby('key1'):
    print(name)
    print(group)
    
 
 

for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print(group)


grouped = df.groupby(df.dtypes, axis=1)
for dtype, group in grouped:
    print(dtype)
    print(group)


pieces = dict(list(df.groupby('key1')))
pieces['b']


# Grouping with a funsction
people.groupby(len).sum()





# Aggregation 
def peak_to_peak(arr):
 ....: return arr.max() - arr.min()
grouped.agg(peak_to_peak)

# Other tools:
grouped.describe()

## Submission Instructions
Submit your .ipynb file and its pdf output.