# Exercise: Aggregates
Directions: Complete all three parts of the assignment.

1. Write a summary about each aggregate function mentioned (np.mean, np.std, np.var, np.argmin, np.argmax, np.median, np.percentile).


* `mean()` returns the arithmetic mean along the specified axis.
    * Optional `out` can be used to specify alternative output array.
    * Optional `keepdims` cab be used for broadcasting against the original array.

* `std()` returns the standard deviation along the specified axis.
    * In addition to similar use of `out` and `keepdims` , it also supports `ddof` that stands fpr degrees of freedom, zero by default.
    
* `var()` return the variance along the specified axis.
    * Similarly to `std()`, this function supports `out`, `keepdims`, and `ddof`.

* `argmin()` returns the index of the first occurrence of the **mimimum** value along the specified axis of an array. 
    * Optional parameter `out` can be used to insert the result into the array.

* `argmax()` returns the index of the first occurrence of the **maximum** value along the specified axis of an array. 
    * Optional parameter `out` can be used to insert the result into the array.

* `median()` returns the **median** of an array along the specified axis. 
    * Optional `out` can be used to specify alternative output array. 
    * Moreover, `overwrite_input` can be specified to allow use of memory of the input array and `keepdims` cab be used for broadcasting against the original array.

* `percentile()` returns the **q-th percentiles** of the array elements along the specified axis. 
    * In addition to similar use of `out`, `overwrite_input` and `keepdims` , it also supports optional `interpolation` for cases when the selected percentile falls between two data points.

2. Come up with a small sample of code (with appropriate setup/data) that illustrates the usage of at least four (4) of the aggregate functions (from Part 1). Include the results/output as well.

3. Find a sample data set (or create a reasonable data set and place in an appropriate structure, e.g., DataFrame or other). Using GroupBy and splitting using more than one key, perform some queries against that data. Explain what question youâ€™re trying to answer and show the results/output. Come up with a total of three (3) different queries.

In [7]:
import pandas as pd
# Source: https://banks.data.fdic.gov/bankfind-suite/oscr
df = pd.read_csv("events_summary_2000-2021.csv")

In [9]:
df

,Event Types,"N: National Banks, member of the Federal Reserve System (FRS)","SM: State Chartered Banks, member of the Federal Reserve System (FRS)","NM: State Chartered Banks, not member of the Federal Reserve System (FRS)",OI: Insured Branches of Foreign Banks,SI: FDIC Supervised State Savings Banks,SB: Federal Savings Bank,SL: Federal & State Savings and Loans,NC: Non-FDIC Insured Commercial Banks,NS: Non-FDIC Insured Thrifts,CU: Non-FDIC Insured Credit Unions
0,New Institutions,261,95,1043,0,30,101,8,167,5,16431
1,Business Combinations,1704,1134,2698,0,277,313,61,42,0,1472
2,Business Combinations - Failures,128,70,289,0,9,42,9,0,0,26
3,Interim Mergers & Reorganizations,235,76,349,0,65,33,3,32,0,101
4,Conversions,834,2299,2189,0,570,1197,216,304,19,708
5,Title Changes,838,615,2586,1,334,410,161,193,1,5753
6,Main Office Relocations,1111,659,3749,14,249,581,171,221,1,4288
7,Liquidations,60,16,104,3,6,59,6,133,8,2534
8,Trust Powers,121,30,493,0,62,51,17,20,0,0
9,Branch Purchases & Assumptions by Institution,638,360,1264,1,129,161,39,3,0,72

for name, group in df.groupby('key1'):
    print(name)
    print(group)
    
 
 

for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print(group)


grouped = df.groupby(df.dtypes, axis=1)
for dtype, group in grouped:
    print(dtype)
    print(group)


pieces = dict(list(df.groupby('key1')))
pieces['b']


# Grouping with a funsction
people.groupby(len).sum()





# Aggregation 
def peak_to_peak(arr):
 ....: return arr.max() - arr.min()
grouped.agg(peak_to_peak)

# Other tools:
grouped.describe()

## Submission Instructions
Submit your .ipynb file and its pdf output.