* Module 2 live session activity: Map, Filter, Reduce
* Reduce examples
* UVA ID: agp7dp

In [1]:
from functools import reduce

In [3]:
# Define a simple function that takes at least 2 inputs
def add_numbers(a, b):
  result = a+b
  print(f"{a} + {b} = {result}")
  return result

In [14]:
# Testing the function:
add_numbers(10, 500)

10 + 500 = 510

510

In [18]:
# Passing the function into reduce() along with an iterable list `numbers`
numbers = [100, 200, 300, 400]
reduce(add_numbers, numbers)

100 + 200 = 300
300 + 300 = 600
600 + 400 = 1000

1000

In [34]:
# Alternative
sum(numbers)

1000

In [25]:
# The optional argument: initializer
init =100
reduce(add_numbers, numbers, init)

100 + 100 = 200
200 + 200 = 400
400 + 300 = 700
700 + 400 = 1100

1100

In [35]:
sum(numbers, init)

1100

In [27]:
# Yet another way to get the same result
reduce(lambda a, b: a+b, numbers, init)

1100

In [32]:
# add() is written in C and optimized for efficiency
from operator import add
reduce(add, numbers, init)

1100

In [38]:
# Another possible use cases - finding min and max
reduce(max, numbers)

400

In [47]:
reduce(lambda a, b: int(a or b), numbers)

100